<div class="flex flex-col bg-gray-50 h-full">
    <div class="flex mx-8 my-2" *ngIf="notes.length > 0">
        <a [routerLink]="['editor/new']"
            class="rounded-lg bg-green-400 hover:bg-green-600 transition-all w-32 h-8 text-white flex items-center justify-center">
            Crear nota
        </a>
    </div>

    <div class="grid grid-cols-12 gap-4 m-8">
        <div *ngFor="let note of notes" class="col-span-12 md:col-span-4">
            <div class="flex flex-col gap-2 w-full border rounded-lg max-h-[500px] overflow-hidden shadow-md">
                <div class="bg-gray-100 p-2">
                    <h1 class="text-lg text-center font-bold">{{ note.title }}</h1>
                </div>
                <div class="p-2 flex-1 overflow-y-auto text-ellipsis" [innerHTML]="note.description"></div>
                <div class="p-2 flex w-full justify-around items-center">
                    <a [routerLink]="['editor', note.id]" class="font-medium hover:underline pr-2">Editar</a>
                    <button (click)="delete(note.id)" class="font-medium hover:underline">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="notes.length === 0" class="flex flex-col h-full items-center justify-center">
        <img src="assets/hero.svg" alt="No hay notas" class="w-1/4 mb-4">
        <h1 class="text-2xl font-bold">No hay notas</h1>
        <p class="text-gray-500">Crea una nueva nota</p>
        <button [routerLink]="['editor/new']"
            class="mt-4 rounded-lg bg-green-400 hover:bg-green-600 transition-all w-32 h-8 text-white flex items-center justify-center">
            Crear nota
        </button>
    </div>
</div>